<nav>
    <ul>
        <li>
            <button type="button" (click)="redirectTo('dashboard')"
                class="cursor-pointer relative inline-flex items-center p-3 text-sm font-medium text-center text-[var(--sm-text-muted-color)] hover:opacity-75">
                <span class="p-3 me-2 rounded-lg"
                    [ngClass]="{ 'bg-[var(--sm-button-color)]': isLinkActive('/dashboard')}">
                    <app-home-icon [isSelected]="isLinkActive('/dashboard')"></app-home-icon>
                </span>
                <span *ngIf="isExpanded"
                    [ngClass]="{ 'font-bold text-[var(--sm-primary-color)]': isLinkActive('/dashboard')}">Dashboard</span>
            </button>
        </li>
        <li>
            <button type="button" (click)="redirectTo('config')"
                class="cursor-pointer relative inline-flex items-center p-3 text-sm font-medium text-center text-[var(--sm-text-muted-color)] hover:opacity-75">
                <span class="p-3 me-2 rounded-lg" [ngClass]="{ 'bg-[var(--sm-button-color)]': isLinkActive('/config')}">
                    <app-tools-icon [isSelected]="isLinkActive('/config')"></app-tools-icon>
                </span>
                <span *ngIf="isExpanded"
                    [ngClass]="{ 'font-bold text-[var(--sm-primary-color)]': isLinkActive('/config')}">Configurator</span>
            </button>
        </li>
    </ul>
</nav>