<section id="component-editor"
    class="text-[var(--sm-text-color)] flex flex-col rounded-lg shadow-2xs border-1 p-2 border-[var(--sm-card-border-color)] bg-[var(--sm-detached-background-color)]"
    *ngIf="!isEditing">
    <h6
        class="text-center mt-2 pb-2 mb-2 text-lg text-[var(--sm-tertiary-color)] border-b-2 font-medium border-b-[var(--sm-tertiary-color-light)]">
        {{componentToEdit?.name}}</h6>
    <div id="measure-point-editor">
        <h6 class="font-medium text-[var(--sm-text-muted-color)]">Measure points :</h6>
        <div class="ps-3">
            <ng-container *ngFor="let measurePoint of componentToEdit?.measurePoints">
                <div class="flex gap-2 items-center justify-between">
                    <span class="block size-[1em] rounded-sm"
                        [ngStyle]="{'background-color': measurePoint?.color}"></span>
                    <span>{{measurePoint?.name}}</span>
                    <span>{{ measurePoint ? measureUnitLabels[measurePoint.unit] : 'N/A' }}</span>
                </div>
            </ng-container>
        </div>
    </div>
</section>